@media screen and (min-width: 1200px) {

  .slider {
    top: 18px;
  }

  .slides {
    margin-top: 0%;
    margin-left: 18%;
    width: 64%;
    z-index: 2;
    display: grid;
    align-items: center;
    padding: 5% 5% 5% 5%;
    top: 95px;
    > .slide {
      grid-area: -1 / 1;
    }

    > button {
      appearance: none;
      background: transparent;
      border: none;
      color: white;
      position: absolute;
      font-size: 5rem;
      width: 5rem;
      height: 5rem;
      top: 30%;
      transition: opacity 0.3s;
      opacity: 0.7;
      z-index: 5;

      &:hover {
        opacity: 1;
      }

      &:focus {
        outline: none;
      }

      &:first-child {
        right: 100%;
        top: 30%;
      }
      &:last-child {
        left: 100%;
        top: 30%;
      }
    }
  }

    .EEhamburger {
      border-radius: 5px;
      height: 4rem;
      width: 4rem;
      right: 3px;
      top: 21px;
    }

    .slideContentInner {
      transform-style: preserve-3d;
      transition: opacity 0.3s linear;
      text-shadow: -10px 10px 9px black;
      bottom: 14vw;

      // color: #f5e7c9;
      // background: #000000d4;
      // border: solid 1px #9b630c;
      // border-radius: 15px;
      // opacity: 0.85;
      // text-align: justify;
      // line-height: 2.4;
      // width: 163%;
      // height: 31vw;
  
      .slideWelcome,
      .slideName,
      .slideUserName,
      .slideLastLogin,  
      .slideLastDeposit, 
      .slideWinnings,
      .slideEarnings, 
      .slideTips,
      .slideDescription {
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.2ch;
        padding-left: 11px;
        padding-right: 11px;
      }

      .fundingSource {
        bottom: 28vw;
        width: 24vw;
      }

      .slideIconFlex {
        right: 21vw;
        display: flex;
        bottom: 0vw;
        width: 50%;
        top: 16vw
      }

      .slideIcon {
        height: 4em;
        width: 5em;
        flex: auto;
        bottom: 14vw;
      }

      .slideCard, .slideCardOnFile {
        right: 0vw;
        width: 26vw;
        bottom: 27vw;
      }

      .slideLastWin,
      .slideMostWins,
      .slideMostGames {
        margin: 0;
        font-size: 0.8rem;
        font-weight: bold;
        letter-spacing: 0.2ch;
        width: 20vw;
      }

      .slideFunds,
      .fundsAmount {
        margin: 0;
        font-size: 1rem;
        letter-spacing: 0.0ch;
        left: 32vw;
        bottom: 49vw;
        width: 14vw;
      }

      .addAmount {
        left: 27vw;
        bottom: 46vw;
        width: 22vw;
      }

      .slideIframe {
        background: transparent;
        width: 50%;
        height: 50%;
        left: 16vw;
        bottom: 11vw;
      }

      .slideIframe2 {
        background-color: transparent;
        width: 100%;
        bottom: 36vw;
        opacity: 0.8;
      }
      
      .slideTitle {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0.0ch;
        text-transform: uppercase;
        margin: 0;
        width: 50%;
        text-align: left;
        padding: 10px 10px 10px 10px;
      }
  
      .slideWelcome {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0.0ch;
        text-transform: uppercase;
        margin: 0;
        width: 100%;
        text-align: left;
        top: 59px;
      }

      .slideBack {
        font-size: 2.5rem;
        font-weight: normal;
        letter-spacing: 0ch;
        text-transform: uppercase;
        margin: 0;
        width: 53%;
        text-align: left;
        left: 43%;
        bottom: 37px;
      }

      .slideName {
        font-size: 2.2rem;
        font-weight: normal;
        letter-spacing: 0.2ch;
        text-transform: uppercase;
        margin: 0;
        width: 64%;
        text-align: center;
        bottom: 2em;
      }

      .slideNewCard {
        width: 21em;
      }
  
      .slideUserName {
        font-size: 1.5rem;
        font-weight: normal;
        letter-spacing: 0.1ch;
        width: 101%;
      }
    }

    .EEhamburger {
      margin:0 35% 0 35%;
      width: 9rem;
      height: auto;
      background: transparent;
      display:inline-block;
    }

    .EEhamburger, img {
      border-radius: 5px;
      height: auto;
      width: 4rem;
    }

    .shadowfilter {
      -webkit-filter: drop-shadow(0px 0px 0px #be8933);
      -webkit-transition: all 0.5s linear;
      -o-transition: all 0.5s linear;
      transition: all 0.5s linear;
      
    }.shadowfilter:hover {
      -webkit-filter: drop-shadow(0px 0px 8px #9b630c);
    }
  }